 <!-- h1 -->
 <h1 class="text-center mt_container p-3">¡Los que Hacemos el trabajo pesado<br>tambien podemos vernos bien.! </h1>

 <!-- section -->
 <div class="container mt_container">
     <div class="row">
         <!-- img tornillo -->
         <div class="col-12 col-md-3 text-center mb-5">
             <img src="assets/img/animaciones/TORNILLO ANIM.gif" width="270vw" alt="">
             <div class="row justify-content-center">
                 <div class="col-3">
                     <img src="assets/img/mas.png" class="mas_menos" width="42vw" alt="">
                 </div>
                 <div class="col-3">
                     <img src="assets/img/menos.png" class="mas_menos" width="42vw" alt="">
                 </div>
             </div>
         </div>

         <!-- img tuerca -->
         <div class="col-12 col-md-3 text-center mb-5">
             <img src="assets/img/animaciones/TUERCA ANIM.gif" width="270vw" alt="">
             <div class="row justify-content-center">
                 <div class="col-3">
                     <img src="assets/img/mas.png" width="42vw" class="mas_menos"  alt="">
                 </div>
                 <div class="col-3">
                     <img src="assets/img/menos.png" width="42vw" class="mas_menos"  alt="">
                 </div>
             </div>
         </div>

         <!-- img arandela -->
         <div class="col-12 col-md-3 text-center mb-5">
             <img src="assets/img/animaciones/ARANDELA-ANIM.gif" width="270vw" alt="">
             <div class="row justify-content-center">
                 <div class="col-3">
                     <img src="assets/img/mas.png" width="42vw" class="mas_menos"  alt="">
                 </div>
                 <div class="col-3">
                     <img src="assets/img/menos.png" width="42vw" class="mas_menos"  alt="">
                 </div>
             </div>
         </div>

         <!-- img tornillo grueso -->
         <div class="col-12 col-md-3 text-center mb-5">
             <img src="assets/img/animaciones/VARILLA-ANIM.gif" width="270vw" alt="">
             <div class="row justify-content-center">
                 <div class="col-3">
                     <img src="assets/img/mas.png" width="42vw" class="mas_menos"  alt="">
                 </div>
                 <div class="col-3">
                     <img src="assets/img/menos.png" width="42vw" class="mas_menos"  alt="">
                 </div>
             </div>
         </div>
     </div>
 </div>